@model Escc.Libraries.BranchFinder.Website.LibrariesViewModel
@using System.Configuration
@using ClientDependency.Core.Mvc
@using Escc.ClientDependencyFramework
@using Escc.Web
@{
    Model.Metadata.Title = "Find your local library";
    Model.Metadata.Description = "Information about public libraries in East Sussex, their services, opening hours and contact details.";
    Model.Metadata.Keywords = "Libraries, Branch libraries, Children's libraries, Mobile libraries, Reference libraries,Library facilities, Children's library service, Mobile library services,library, libraries, book, books, reference, talking books, story cassettes, tapes, videos, dvds, music, scores, cds, compact discs, leaflets, local history, local studies, electoral register, registers, display, newspapers, magazines, periodicals, journals, photocopier, people's network, computers, pcs, internet, word processing, cd-roms, housebound, volunteer, children, storytimes, story time, activities, reading game, homework, research, information, enquiries, enquiry service, lifelong learning";
    Model.Metadata.DateIssued = "2007-01-04";
    Model.Metadata.IpsvPreferredTerms = "Libraries; Children's libraries; Mobile libraries; Public libraries; Reference libraries";
    Model.Metadata.IpsvNonPreferredTerms = "Library facilities; Children's library service; Mobile library services; Joining a library";
    Model.Metadata.LgtlType = "Website facilities;Search results";
    Model.Metadata.LgslNumbers = "437";

    Html.RequiresCss(CssFileAlias.Resolve("FormsSmall"));
    Html.RequiresCss(CssFileAlias.Resolve("FormsMedium"), MediaQueryAlias.Resolve("Medium"));
    Html.RequiresCss(CssFileAlias.Resolve("FormsLarge"), MediaQueryAlias.Resolve("Large"));
    Html.RequiresCss("~/css/map.css");
    Html.RequiresJs(JsFileAlias.Resolve("Tips"), 50);
    Html.RequiresJs(JsFileAlias.Resolve("DescribedByTips"));
    Html.RequiresJs(JsFileAlias.Resolve("GoogleMaps"), 50);
    Html.RequiresJs("~/js/map.js");

    new ContentSecurityPolicyHeaders(Response.Headers).AppendPolicy(new ContentSecurityPolicyFromConfig().Policies["GoogleMaps"]).UpdateHeaders();
}

<div class="full-page">
    <div class="content text-content">
        <h1>Find your local library</h1>

        @if (DateTime.Today < new DateTime(2019, 1, 25))
        {
        <div class="latest">
            <section>
                <h2>Latest</h2>
                <p>Rye Library will be closed on Thursday 17 January and will reopen on Friday 25 January at 10am. The Library is to be used as a location for the filming of a historical television drama. Loans of all items borrowed from Rye Library will be extended for this period. <a href="/libraries/locations/rye/filming-at-rye-library/" data-udi="umb://document/8f44e2631b4140f59e4a86680cced7a0">Find out more about the closure</a>.</p>
            </section>
        </div>
        }

        <p>
            There are <span id="total-libraries">17</span> libraries in East Sussex.
            All our libraries have <a href="/libraries/library-services-for-people-with-disabilities/disabled-access/">disabled access</a> for wheelchairs.
        </p>

        <p>Following changes to the Library and Information Service, seven libraries closed on Saturday 5 May 2018. 
        These libraries are Langney, Mayfield, Ore, Pevensey Bay, Polegate, Ringmer and Willingdon. The Mobile Library Service is also now closed.</p>

        @Html.ValidationSummary()
        <form action="@Url.Content("~/librarysearch.aspx")" method="GET" class="form simple-form">
            <label for="postcode">Postcode</label>
            <input id="postcode" name="pc" class="postcode describedby-tip" aria-describedby="postcode-help" data-tip-positions="top bottom" />
            <p id="postcode-help">We won't keep or share your postcode.</p>
            <input type="submit" id="Go" value="Find your nearest" class="button" />
            <p class="useList note"><span class="or">or</span> use our <a href="/libraries/locations/">list of libraries</a></p>
        </form>

        <div id="google-map" data-libraries-url="@ConfigurationManager.AppSettings["LibraryDataUrl"]"></div>

        @{ Html.RenderPartial("~/Views/EastSussexGovUK/Features/_Share.cshtml", Model); }
    </div>
</div>